<template name="media">
 <form class="main">
  <div class="media">  
    <div id="addMedia">
<table border="0">
<tr>
    <td class="more-padding-on-right">  
    <input type="text" name="media" placeholder="+ Add media to event. http://www.horizon.ac.uk/AppImages/swoosh_home.png" value="" /> </td>
      
    
     <td class="more-padding-on-right">
        
           <select name="mediatypes" >
              <option value="default">Choose Media Type</option>
              <option value="image/jpeg">image/jpeg</option>
              <option value="image/png">image/png</option>
              <option value="image/gif">image/gif</option>
              <option value="video/flv">video/flv</option>
              <option value="video/fla">video/fla</option>
              <option value="audio/mpeg">audio/mpeg</option>
              <option value="audio/ogg">audio/ogg</option>
              <option value="audio/wav">audio/wav</option>
              <option value="text/html">text/html</option>
           </select>                             
      </td>
 
     <td class="more-padding-on-right">
           <input type="submit" value="Submit" class="btn btn-primary"/>
     </td>
     </tr>
    </table>
    </div>
   </form>
    <div id="list_wrapper">
      <ul class="sortable grid">
        {{#each media}}
          {{> medium}}
        {{/each}}
      </ul>
    </div>
  </div>
</template>