<template name="medium">
  <li class="ui-state-default" id="{{resource}}">
    {{#if imageSrc}}
    <img src="{{resource}}" class="sortImg"></img>
    {{/if}}

    {{#if videoSrc}}
    <iframe src="{{resource}}" class="sortImg"></iframe>
    {{/if}}

    {{#if textSrc}}
    <div class="medium_html">{{resource}}</div>
    {{/if}}

    <div class="medium_short_desc">{{shortdesc}}</div>
  
    <div id="showAttribsBtn">
      <a href="#" style="padding-top: 5%; float: right; text-decoration: underline;">Attributes</a>      
      <!--<input type="button" value="Attributes" class="btn btn-secondary" style="float: right;"/>-->
      
    </div>
  </li>
</template> 
